* {
  font-family: "Open Sans", sans-serif;
}

/*Navbar Work*/
.navbar{
  width: 100%;
  height: 20%;
  background-image: url("bckground.jpg");

  text-align: center;
}

.navlink{
  display: inline-block;
  background: rgba(200, 255, 255, .5);
  border-radius: 8px;

  width: 10%;
  margin: 1% 3%;

  text-align: center;
}

.navlink a h3{
  font-family: Lato, sans-serif;

  padding: 0px;
  margin-top: 1px;
  text-decoration: none;
  color: #223333;
}

.navlink img{
  margin: 0px;
  height: 60%;
  width: 60%;
}

.navlink:hover{
  background: rgba(200, 255, 255, .7);
}

/*SITE*/

.title{
  font-family: Lato, sans-serif;
  font-size: 2em;

  text-align: center;
}

.course {
  background: rgba(200, 255, 255, .7);
  border-radius: 8px;
  margin: auto;
  text-align: center;
  width: 80%;
  padding: 2%;
}

.assignment {
  background: rgba(255, 255, 255, .9);
  border-radius: 8px;
  margin:auto;
  text-align: center;
  width: 98%;
}

/*Profile*/
.profileInfo{
  display: inline-block;
  background: rgba(200, 255, 255, .7);
  padding: 3%;
  width: 30%;
}

.profileInfo img{
  width: 80%;
  margin: auto;
}

.classes{
  display: inline-block;
  width: 50%;

  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;

  list-style-position: inside;
  font-size: 1.4em;
}

/*Course Manager*/
.incourses{
  text-align: center;
  display: inline-block;
  width: 38%;
  padding-left: 10%;
}

.incourses label{
  display: block;
  font-size: 1.2em;
  padding: 1.5%;
  border-left: 1px solid #223333;
}

.incourses input#submit{
  margin: auto;
  text-align: center;
  padding: 2%;
  margin-top: 3%;
}

.outcourses{
  vertical-align: top;
  text-align: center;
  display: inline-block;
  width: 48%;
}

.outcourses select{
  padding: 4%;
  width: 50%;
  display: block;
  margin: auto;
}

.outcourses input#submit{
  padding: 4%;
  width: 50%;
  display: block;
  margin:auto;
}
